@{
  Layout = "_Layout";
}

<h1>Add a vendor</h1>


  <form action="/vendors" method="post">
    <div class="form-group">
      <label for="vendorName">Vendor Name</label>
      <input id="vendorName" name="vendorName" type="text" class=form-control> 
    <div class="form-group">
      <label for="vendorDescription">Vendor Description</label>
      <input id="vendorDescription" name="vendorDescription" type="text" class=form-control> 
    <button type="submit" class="btn btn-success btn-fill">Add</button>
  </form>

<p><a href="/">Back home</a></p>
<p><a href="/vendors">Back to vendors.</a></p>