@{
  Layout = "_Layout";
}

<h1>Add a new order to @Model.Name</h1>
<div class="form-group">
  <form action="/vendors/@Model.Id/orders" method="post">
    <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id" class=form-control>
    <label for="orderTitle">Order Title: </label>
    <input id="orderTitle" name="orderTitle" type="text" class=form-control>
    <label for="orderDescription">Order Description: </label>
    <input id="orderDescription" name="orderDescription" type="text" class=form-control>
    <label for="orderPrice">Order Price: </label>
    <input id="orderPrice" name="orderPrice" type="number" class=form-control>
    <label for="orderDate">Order by Date: </label>
    <input id="orderDate" name="orderDate" type="date" class=form-control>
  <button type="submit" class="btn btn-success btn-fill">Add Order!</button>
</form>

